*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    width: 100px;
    margin-left: 1rem;
}
header{
    background-color: rgb(27, 27, 55);
    width: 100%;
}
.headertop{
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;

}
#location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   border: none;
   background-color: transparent;
   color: white;
}
.searchspace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.search{
    width: 30rem;
    height: 3rem;
    padding-left: 3rem;
    font-size: 1.2rem;
}
#search2{
    width: 4rem;
    height: 3rem;
    font-size: 1.2rem;
}
.country{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
}
#language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.signin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 130px;
    background-color: transparent;
    color: white;
    border: none;
}
.return{
    width: 55px;
    background-color: transparent;
    color: white;
    border: none;
    padding-top: 0.5rem;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.topright{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 1rem;
}
#logo{
    display: none;
   }
   #location{
    display: none;
   }
   .country{
    display: none;
   }
   .return{
    display: none;
   }
#headdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}
.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    display: none;
    padding: 0.5rem;
    background-color: rgb(42, 42, 97);
}
#headlink{
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 1.6rem;
    font-weight: bolder;
}
#links{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}
.maintop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    border-bottom: 2px solid rgb(125, 125, 125);
    display: none;
}
.productheading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.7rem;
    margin-left: 1rem;
    gap: 0.5rem;
}
#productlink{
    text-decoration: none;
    color: rgb(31, 131, 254);
}
#product{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    margin-top: 0.6rem;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid whitesmoke;
}
#star{
    color: orange;
}
.stars{
    display: flex;
    flex-direction: row;
}
.price{
    display: flex;
    flex-direction: column;
}
#percentage{
    color: red;
    font-size: 2rem;
}
#mrp{
    color: grey;
}
#ra{
    font-size: small;
}
.pricetag{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 0.5rem;
    
}
#amount{
    font-size: 2.5rem;
}
.pricedetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 0.3rem;
    border-bottom: 1px solid rgb(177, 177, 177);   
    padding-bottom: 0.5rem;
}
#emi{
    text-decoration: none;
    color: rgb(24, 101, 201);
}
#percentage{
    width: 1.3rem;
}
#discount{
    text-decoration: none;
    color: black;
}
.offer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}
.bankoffer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(211, 210, 210);
}
#bankbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    width: 10rem;
    background-color: transparent;
    border-color: rgb(211, 210, 210);
    height: 9rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}
#bankofferlink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(28, 57, 119, 0.812);
    padding-top: 0.5rem;
}
#offerfont{
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}
.exchnage1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    width: 6rem;
}
#replace{
    text-decoration: none;
    color: rgba(28, 57, 119, 0.812);
}
#exchangeimg{
    width: 2.5rem;
}
#flag{
    width: 1.5rem;
}
.exchange{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(211, 211, 211);
}
#sizebutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.5rem;
    background-color: rgb(238, 238, 238);
    border: 1px solid grey;
    border-radius: 0.3rem;
}
#sizefont{
    font-weight: 600;
}
.size{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top:1rem;
    border-bottom: 2px solid rgb(215, 212, 212);
    padding-bottom: 1rem;
    margin-left: 2rem
}
.buy{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border: 1px solid rgb(190, 189, 189);
    gap: 1rem;
   width: 17rem;
   margin-top: 1rem;
   margin-left: 2rem;
   border-radius: 0.5rem;
   height: 25rem;
}
#freelink{
    text-decoration: none;
    color: rgb(23, 106, 132);
}
#freep{
    width: 10rem; 
}
#locations{
    width: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#locationlink{
    text-decoration: none;
    color: rgb(23, 106, 132);
}
#stock{
    color: green;
}
.qty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#qty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0.5px solid grey;
}
.carts{
    background-color:rgb(235, 235, 43);
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    border:none;
}
.buynow{
    background-color:rgb(235, 184, 43);
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem 2.5rem;
    border:none;
}
.description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.description p{
    margin-left: 2rem;
}
.productdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    gap: 0.5rem;
}
.productdetails span{
    margin-left: 2rem;   
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
.footer1 a{
    text-decoration: none;
    color: grey;
}
.footertop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 37, 56);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 10rem;
    border-bottom: 1px solid grey;
    margin-top: 1rem;
}
.footer2 a{
    text-decoration: none;
    color: rgb(195, 194, 194);
}
.footerimg{
    width: 6rem;
}
.footerbottom{
    background-color:rgb(45, 50, 77) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 2rem;
}
.footer2 {
    display: flex;
    flex-direction: row;
  gap: 1rem;
  padding-bottom: 2rem;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
  
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    #logo{
        display: flex;
       }
       #location{
        display: flex;
       }
       .country{
        display: flex;
       }
       .return{
        display: flex;
       }
       
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */
    .headerbottom{
        display: flex;
       }
       .maintop{
        display: flex;
       }
       .mainsection{
        display: flex;
        flex-direction: row;
       }
}


/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}